*{
    margin:0;
    padding: 0;
}
.Container{
    position: relative;
    width: 1920px;
    height:1000px;

}
.img{
    position: absolute;
    width: 1400px;
    height: 1000px;
    margin-left: 650px;
    top: 0px;
    margin-bottom: 0px;
}
.text-login{
 
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 45px;

width: 450px;
height: 650px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
}
.title{
    width: 297px;
height: 28px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #121625;
flex: none;
order: 0;
flex-grow: 0;
margin-top:223px;
margin-bottom: 45px;
margin-left:80px;
margin-right: 233px;
}
.title strong {
    font-family:"Raleway";
    color:#32D5A4;
    font-weight: 800;
    line-height: 28.18px;
    
}
form .label{
    margin-top: 45px;
    margin-bottom: 587.5px;
    margin-left: 80px;
    width: 450px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #121625;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.inputs{
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    margin-left: 80px;
    margin-bottom: 58px;
    
    padding: 12px 15px;
    outline: none;
    width: 450px;
    height: 40px;
    background: #F8F8F9;
    border-radius: 8px;
    overflow: hidden;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
 
}
.checkbox1{

margin-left: 85px;
position: absolute;
background: #A5A8B3;

}
.Rememberme p{
    margin-left: 113px;
    margin-right: 10px;
    margin-top: 35;
    width: 195px;

height: 16px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #121625;
flex: none;
order: 1;
flex-grow: 1
}
.contraseña{
margin-left:317px;
margin-top: -5px;
margin-right: 125px;
margin-bottom: 45px;
width: 168px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
    color: #32D5A4;
   flex: none;
    order: 1;
    flex-grow: 0;
    

}
button{
margin-top: 45px;
margin-left: 80px;
    display: flex;
    font-family: "Relawey";
    font-size: 15px;
    font-weight: 700;
    color:#ffff;
    border: none;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 14px 5px 10px;
gap: 10px;
width: 450px;
height: 40px;
background: #32D5A4;
border-radius: 8px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.parrafo-1{
    margin-top:184px;
    margin-left:80px;
    margin-bottom: 5px;
    color:#A5A8B3;
    line-height: 20px;
    font-size: 12px;}
.parrafo-2{
  color:#A5A8B3;
  font-size: 12px;
  line-height: 20px;
  margin-left: 80px;
  margin-bottom: 5px;
  
}
.parrafo-3{
color:#A5A8B3;
font-size: 12px;
line-height: 20px;
margin-left: 80px;
margin-bottom: 80px;
margin-top: 5px;
}

@media screen and (max-width:480px) {
    .text-login{
        width:50px;
    }
  
    .title{
        font-size: 15px;
    }
    .inputs {
        width: 350px;
    }
    button{
    width:350px ;
   margin-left:90px;
    }
}